# Ignore bundler config.
/.bundle
vendor/cache/*

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore sqlite3 db files.
db/*.sqlite3*

config/database.yml

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml


/storage/s2/ku/s2ku2bbiuad5nykv7ru21bq48beg
/storage/w9/8s/w98s3thl3d3mnzsc595g2phh552x